*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;300&display=swap');

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}
img,
picture {
  max-width: 100%;
  display: block;
}

body {
    font-size: 18px;
    font-family: 'Poppins' sans-serif;
}

header {
    background-color: hsl(0, 0%, 100%);
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    width: 100%;
    height: 70px;
}
nav {
    width: 100%;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

nav ul li {
    list-style: none;
    color: hsl(233, 8%, 62%);
}

nav img {
    margin-top: 20px;
    margin-left: 100px;
}

 .invite {
    margin-top: 10px;
    margin-left: 0;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    width: 200px;
    border-radius: 30px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.intro {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    background-image: url(images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    height: 500px;
    width: 100%;
    
}

.next-gen {
    margin-top: 150px;
    margin-left: 100px;
    justify-content: left; 
}

.intro img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    object-position: left;
    margin-left: 230px;
}

.next-gen h1 {
    width: 300px;
    font-weight: 400;
    color: rgb(85, 82, 82);
}

.next-gen p {
    margin-top: 20px;
    width: 400px;
    color: hsl(233, 8%, 62%);
    margin-bottom: 30px;
}

.why-easybank {
    background-color: hsl(220, 16%, 96%);
    height: 450px;
    width: 100%;
}

.why-easybank h2  {
    margin-top: 30px;
    margin-left: 100px;
    font-weight: 300;
    font-size: 30px;
    color: rgb(85, 82, 82);
}

.why-easybank p {
    margin-top: 20px;
    margin-left: 100px;
    color: hsl(233, 8%, 62%);
    width: 600px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.grid h2 {
    margin-left: 0;
    font-size: 20px;
    color: rgb(85, 82, 82);
    
}

.grid p {
    margin-left: 0;
    width: 260px;
}

.grid article {
    margin: 0;
    padding: 0;
}

.articles {
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.articles h2 {
    font-size: 30px;
    color: rgb(85, 82, 82);
}

.grid-2 {
    margin-top: 30px;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.grid-2 img {
    height: 200px;
    margin-bottom: 30px;
}

.grid-2 span {
    font-size: 14px;
    color: hsl(233, 8%, 62%);
    margin-left: 20px;
}

.grid-2 h2 {
    font-size: 18px;
    width: 200px;
    margin-left: 20px;
}

.grid-2 h2 a {
    text-decoration: none;
    color: rgb(85, 82, 82);
}

.grid-2 p {
    margin-left: 20px;
    font-size: 14px;
    width: 200px;
}

footer {
    background-color: hsl(233, 26%, 24%);
   
}

.grid-3 {
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image span a {
    margin-bottom: 30px;
    margin: 0%;
    padding: 0%;
    
}

.image span a img {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0%;
    padding: 0%;
    filter:  brightness(100);    
}

.image ul {
    list-style: none;
    display: flex;
    margin-top: 50px;
    padding: 0%;
}

.image ul li {
    margin: 0px;
    margin-right: 10px;
}

.image ul li a img:hover {
    filter: grayscale(100%) brightness(80%) sepia(300%) hue-rotate(90deg) saturate(500%);
}

.navigation {
    margin-top: 10px;
}

.navigation ul {
    list-style: none;
}

.navigation ul li {
    margin-bottom: 10px;
}

.navigation ul li a{
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    font-size: 14px;
}

.navigation ul li a:hover {
    color: hsl(136, 65%, 51%);
}

.ref ul{
    list-style: none;
}

.ref li {
    color: hsl(233, 8%, 62%);
    font-size: 16px;
    margin-left: 30px;
}

#invite {
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    width: 150px;
    border-radius: 30px;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    margin-left: 100px;
    margin-bottom: 30px;
}

#invite:hover {
    opacity: 0.9;
}

.ref ul li a {
    text-decoration: none;
    color: white;
    border-radius: 30px;
    justify-self: center; 
    
}